*{
	margin:0;
	padding:0;
	outline:none;
	list-style:none;
}

a{
	text-decoration: none;
}
/*tabela marcar consulta*/
div.formulario{
	padding:6px;
	background:#fff;
	border:1px solid #666;
	width:460px;
	margin:30px auto;
}
div.formulario h2{
	font:18px "Trebuchet MS", Arial, helvetica, sans-serif;
	color:#3AB09E;
	font-weight:bold;
	float:left;
	width:100%;
	margin-bottom:10px;
}
div.formulario input[type=text]{
	padding:4px;
	border:1px solid #999;
	background:#fff;
	outline:none;
	font:15px tahoma, arial;
	color:#666;
	width:452px;
	margin:4px;
}
div.formulario input[type=text]:focus{border-color:#333;}

table {
	position:absolute;
	width: 90%;
	left: 50%;
	top: 200px;
	margin: 0 0 0 -650px;
	text-align:center;
}

table thead td{
	background-color:#333;
	color:#fff;
	text-align:center;
}

table tbody td{
	color: #068;
	text-align:center;
	border-bottom: 1px solid #ddd;
	padding: 10px;
}

tr:hover{
	background-color: #f5f5f5;
}

/*fim tabela marcar consulta*/



/*pagina agendar consulta*/
#agenda h2{
	text-align: center;
	color: #069;
	margin-top: 20px;
}


/*fim agendar consulta*/


.sb{
	display:block;
	border:none;
	width:150px;
	height:40px;
	margin-top:5px;
	margin-bottom: 5px;
	cursor:pointer;
	font:400 18px oswald;
	color:#999;
}
.sb:hover{
	background:#09f;
	color:#fff;
}
/*classes de herança*/
.bradius{
	border-radius:6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
}

label{
	margin-top: 10px;
	margin-left: 5px;
	margin-bottom: 50px;
}

p{
	margin-left: 5px;
	font: 400 18px sowald;
}
