*{
	margin:0;
	padding:0;
	outline:none;
	list-style:none;
}
a{
	text-decoration:none;
}
body{
	font:300 16px oswald;

}

.dados{
	color: #066;
	height: 150px;
	width: 25px;
}

.dados h2{
	float: left;
	font-size: 25px;
}

/*Termos*/
.termos{
	color: #999;
}

.aviso{
	padding: 6px;
	width: 20%;
	float: left;
	text-align:center;
	font-weight: normal;
	position: absolute;
	margin-left: 40%;
	top: 33%;
}

.aviso.green, .aviso-cad.green{background: #009966; border: 1px solid #093;}
.aviso.yellow, .aviso-cad.yellow{background: #f2f200; border: 1px solid #cccc00; color: white;}
.aviso.red, .aviso-cad.red{background: #ff0000; border: 1px solid #cccc00; color: white;}


.message{
	width: 20%;
	color: #666;
	background: #666;
	margin: 0 auto;
	text-align: center;
	margin-left: 40%;
}

.flash{
	width:100%;
	height:40px;
	background:#C00;
	opacity:0.5;
	text-align:center;
	line-height:40px;
	font:400 18px oswald;
	color:#fff;
	position:absolute;
	top:0;
	left:0;
}
#cadastrar{
	border-bottom-left-radius:8px;
	border-bottom-right-radius:15px;
	-webkit-border-bottom-left-radius:8px;
	-webkit-border-bottom-right-radius:15px;
	-moz-border-radius-bottomleft:8px;
	-moz-border-radius-bottomright:15px;
	height:40px;
	width:120px;
	background:#f1f1f1;
	text-align:center;
	position:absolute;
	right:0;
	top: 5px;
	z-index:2;
}

#cadastrar a{
	padding-top:5px;
	display:block;
	color:#999;
	font:400 18px oswald;
}

#cadastrar:hover a{
	color:#fff;
}

#cadastrar:hover{
	background:#678b97;
	color:#fff;
}

/*_______________________________*/

#cadprof{
	border-bottom-left-radius:8px;
	border-bottom-right-radius:15px;
	-webkit-border-bottom-left-radius:8px;
	-webkit-border-bottom-right-radius:15px;
	-moz-border-radius-bottomleft:8px;
	-moz-border-radius-bottomright:15px;
	height:70px;
	width:120px;
	background:#f1f1f1;
	text-align:center;
	position:absolute;
	right:0;
	top:70px;
	z-index:2;
}

#cadprof a{
	padding-top:5px;
	display:block;
	color:#999;
	font:400 18px oswald;
}

#cadprof:hover a{
	color:#fff;
}

#cadprof:hover{
	background:#678b97;
	color:#fff;
}



#login-medico{
	border-bottom-left-radius:8px;
	border-bottom-right-radius:15px;
	-webkit-border-bottom-left-radius:8px;
	-webkit-border-bottom-right-radius:15px;
	-moz-border-radius-bottomleft:8px;
	-moz-border-radius-bottomright:15px;
	height:60px;
	width:120px;
	background:#f1f1f1;
	text-align:center;
	position:absolute;
	right:0;
	top:150px;
	z-index:2;
}

#login-medico a{
	padding-top:5px;
	display:block;
	color:#999;
	font:400 18px oswald;
}

#login-medico:hover a{
	color:#fff;
}

#login-medico:hover{
	background:#678b97;
	color:#fff;
}




/*_________________________________*/
#login{
	width:300px;
	margin:0 auto;
	position:relative;
	top:250px;
	border:1px solid #f1f1f1;
	padding:15px;
}

.form label{
	display:block;
	padding-top:5px;
}
.acomodar{
	margin:0 auto;
	width:250px;
}
.txt{
	border:none;
	height:40px;
	width:250px;
	border:thin solid #f1f1f1;
}
.txt:focus{
	border:thin solid #678b97;
	box-shadow:0 2px 10px #678b97;
	-webkit-box-shadow:0 2px 10px #678b97;
	-moz-box-shadow:0 2px 10px #678b97;
}
.sb{
	display:block;
	border:none;
	width:250px;
	height:40px;
	margin-top:10px;
	cursor:pointer;
	font:400 18px oswald;
	color:#999;
}
.sb:hover{
	background:#09f;
	color:#fff;
}
/*classes de herança*/
.bradius{
	border-radius:6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
}
.fleft{
	float:left;
}
.frigth{
	float:right;
}
/*multiplos estilos*/
.txt,.txt:focus,.sb,.sb:hover,#cadastrar:hover,#cadastrar{
	transition:all 0.5s linear;
	-webkit-transition:all 0.5s linear;
	-moz-transition:all 0.5s linear;
}



/*css pagina minha conta*/
.dados{
	font-size: 20px;
	font-family: arial;
	color: #696969;
	position:relative;
	text-align: center;
	top: 5px;
}

.atualizar-dados{
	width:300px;
	margin:0 auto;
	position:relative;
	top:100px;
	border:1px solid #f1f1f1;
	padding:15px;
}
