*{
	margin:0;
	padding:0;
	outline:none;
	list-style:none;
}

a{
	text-decoration:none;
}

body{
	font:300 16px oswald;
}
/*botao consulta*/
#consulta{
	border-bottom-left-radius:8px;
	border-bottom-right-radius:15px;
	-webkit-border-bottom-left-radius:8px;
	-webkit-border-bottom-right-radius:15px;
	-moz-border-radius-bottomleft:8px;
	-moz-border-radius-bottomright:15px;
	height:120px;
	width:150px;
	top:10px;
	position:absolute;
	cursor:pointer;
	background:#f1f1f1;	
	text-align:center;
	right:720px;
	z-index:2;
}

#consulta a{
	padding-top:5px;
	display:block;
	color:#999;
	font:400 18px oswald;
}

#consulta:hover a{
	color:#fff;
}

#consulta:hover{
	background:#678b97;
	color:#fff;
	cursor:pointer;
}

/*fim botao consulta*/

/*botao agenda*/
#agenda{
	border-bottom-left-radius:8px;
	border-bottom-right-radius:15px;
	-webkit-border-bottom-left-radius:8px;
	-webkit-border-bottom-right-radius:15px;
	-moz-border-radius-bottomleft:8px;
	-moz-border-radius-bottomright:15px;
	height:120px;
	width:150px;
	top:10px;
	background:#f1f1f1;
	text-align:center;
	position:absolute;
	cursor:pointer;
	right:550px;
	z-index:2;
}

#agenda a{
	padding-top:5px;
	display:block;
	color:#999;
	font:400 18px oswald;
}

#agenda:hover a{
	color:#fff;
}

#agenda:hover{
	background:#678b97;
	color:#fff;
	cursor:pointer;
}
/*fim botao agenda*/

/*botao favorito*/
#favorito{
	border-bottom-left-radius:8px;
	border-bottom-right-radius:15px;
	-webkit-border-bottom-left-radius:8px;
	-webkit-border-bottom-right-radius:15px;
	-moz-border-radius-bottomleft:8px;
	-moz-border-radius-bottomright:15px;
	height:120px;
	width:150px;
	background:#f1f1f1;
	text-align:center;
	position:absolute;
	cursor:pointer;
	right:720px;
	top:140px;
	z-index:2;
}

#favorito a{
	padding-top:5px;
	display:block;
	color:#999;
	font:400 18px oswald;
}

#favorito:hover a{
	color:#fff;
}

#favorito:hover{
	background:#678b97;
	color:#fff;
	cursor:pointer;
}
/*fim botao favorito*/

/*botao atualizar cadastro*/
#atcad{
	border-bottom-left-radius:8px;
	border-bottom-right-radius:15px;
	-webkit-border-bottom-left-radius:8px;
	-webkit-border-bottom-right-radius:15px;
	-moz-border-radius-bottomleft:8px;
	-moz-border-radius-bottomright:15px;
	height:120px;
	width:150px;
	background:#f1f1f1;
	text-align:center;
	position:absolute;
	cursor:pointer;
	right:550px;
	top:140px;
	z-index:2;
}

#atcad a{
	padding-top:5px;
	display:block;
	color:#999;
	font:400 18px oswald;
}

#atcad:hover a{
	color:#fff;
}

#atcad:hover{
	background:#678b97;
	color:#fff;
	cursor:pointer;
}

/*fim botao atualizar cadastro*/


/*botao sair*/
#sair{
	border-bottom-left-radius:8px;
	border-bottom-right-radius:15px;
	-webkit-border-bottom-left-radius:8px;
	-webkit-border-bottom-right-radius:15px;
	-moz-border-radius-bottomleft:8px;
	-moz-border-radius-bottomright:15px;
	height:120px;
	width:150px;
	background:#f1f1f1;
	text-align:center;
	position:absolute;
	cursor:pointer;
	right:720px;
	top:280px;
	z-index:2;
}

#sair a{
	padding-top:5px;
	display:block;
	color:#999;
	font:400 18px oswald;
}

#sair:hover a{
	color:#fff;
}

#sair:hover{
	background:#678b97;
	color:#fff;
	cursor:pointer;
}

/*fim do botao sair*/
